# Aplication
APP_SECRET_TOKEN=653891c06242f9198c19c94ef1a30ee2
APP_API_URL=http://localhost:3333

# Typeorm
TYPEORM_PORT=5432
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=docker 
TYPEORM_DATABASE=pgdb
TYPEORM_ENTITIES=./src/shared/database/entities/*.ts
TYPEORM_MIGRATIONS=./src/shared/database/migrations/*.ts
TYPEORM_ENTITIES_DIR=./src/shared/database/entities
TYPEORM_MIGRATIONS_DIR=./src/shared/database/migrations
